.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--color_gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal-content .logo {
    font-family: "Kode Mono", sans-serif;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: var(--color_white);
}

.modal-content h2 {
    text-align: center;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: white;
    cursor: pointer;
}

.modal-content button.close-button {
    background: #dc3545;
}

.toggle-form {
    color: #007bff;
    cursor: pointer;
}
