.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: var(--color_gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal-content .logo {
    font-family: "Kode Mono", sans-serif;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: var(--color_white);
}

.modal-content button.close-button {
    background: none;
    border: none; 
    padding: 0; 
    cursor: pointer; 
    outline: none; 
}

.modal-content button.close-button img {
    filter: brightness(20);
    max-height: 32px;
}

.modal-content h2 {
    font-weight: 500;
    font-size: 32px;
    font-family: var(--font_montserrat);
}

.modal-content h3 {
    font-weight: 500;
    font-size: 24px;
    font-family: var(--font_montserrat);
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input {
    height: 24px;
    margin-bottom: 24px;
    padding: 4px 12px;
    border: 2px solid rgba(173, 177, 204, 0.6);
    border-radius: 5px;
    background-color: var(--color_white);
    color: var(--color_gray);
}

.modal-content button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: var(--color_white);
    color: var(--color_gray);
    cursor: pointer;
}


.toggle-form {
    display: flex;
    flex-direction: column;
    color: var(--color_orange);
    cursor: pointer;
}
